{% extends 'base_detail_list.html' %}
{% block title %}天天生鲜-商品详情{% endblock %}
{% load static %}
{% block main_content %}
<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/uploads/{{sku.image.url}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{sku.name}}</h3>
			<p>{{sku.desc|safe}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{sku.price}}</em></span>
				<span class="show_unit">单  位：{{sku.unite}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				{% csrf_token %}
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart" sku_id="{{sku.id}}">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for goods in new_goods %}
					<li>
						<a href="#"><img src="/static/uploads/{{goods.image}}"></a>
						<h4><a href="#">{{goods.name}}</a></h4>
						<div class="prize">￥{{goods.price}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{sku.goods.detail|safe}} </dd>
				</dl>
			</div>

			<div class="tab_content">
				<dl>
					{% for comment in comments %}
					<li>{{comment.order.user.name}}:{{comment.comment}}</li>
					{% endfor %}
				</dl>
			</div>

		</div>
	</div>
{% endblock %}


    {% block bottomfiles %}
		<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    {% endblock %}
	<div class="add_jump"></div>
    {% block bottom %}
		<script>
			//计算商品的总价

			function update_goods_amount(){
				//获取商品的单价和数量

				price=$('.show_pirze').children('em').text()
				count=$('.num_show').val()
				//计算商品的价格
				price=parseFloat(price)
				count=parseInt(count)
				amount=price*count
				//设置总价格
				$('.total').children('em').text(amount.toFixed(2)+'元')
			}
			update_goods_amount()

			//增加商品数量
			$('.add').click(function(){
				//获取商品的数目
				count=$('.num_show').val()
				//加1
				count=parseInt(count)+1
				//更新数目
				$('.num_show').val(count)
				//更新商品总价
				update_goods_amount()
			})

			$('.minus').click(function(){
				//获取商品的数目
				count=$('.num_show').val()
				//减1
				count=parseInt(count)-1
				if(count<=0){
					count=1
				}

				//更新数目
				$('.num_show').val(count)
				//更新商品总价
				update_goods_amount()
			})

			//手动输入商品的数量
			$('.num_show').blur(function(){
				count=$(this).val()
				//校验输入是否合法
				if(isNaN(count) || count.trim().lenght==0 || parseInt(count)<=0){
					count=1
				}
				//重新设置商品的数目
				$(this).val(parseInt(count))
				update_goods_amount()


			})


			var $add_x = $('#add_cart').offset().top;
			var $add_y = $('#add_cart').offset().left;

			var $to_x = $('#show_count').offset().top;
			var $to_y = $('#show_count').offset().left;


			$('#add_cart').click(function(){
				//获取商品的id金额数量
				sku_id=$(this).attr('sku_id')
				count=$('.num_show').val()
				//发去ajax post请求
				csrf=$('input[name="csrfmiddlewaretoken"]').val()
				params={'sku_id':sku_id,'count':count,'csrfmiddlewaretoken':csrf}
				$.post('/cart/add/',params,function(data){
					if(data.res==5){
						//添加成功
						$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
						$(".add_jump").stop().animate({
							'left': $to_y+7,
							'top': $to_x+7},
							"fast", function() {
								$(".add_jump").fadeOut('fast',function(){
									$('#show_count').html(data.total_count);
								});

						});
					}
					else{
						//添加失败
						alert(data.errmsg)
					}
				})

			})
		</script>
    {% endblock %}


